<div class="block__timer--main flex items-center">
  <div class="block__timer--announcement">
    <div id="days" class="block__timer-countdown-inner h4 font-weight-600">
      <span>0</span>
      <span>0</span>
    </div>
    <span class="extreme_small_body text-uppercase font-weight-500">Days</span>
  </div>
  <span class="block__timer--dots">:</span>
  <div class="block__timer--announcement">
    {% comment %} <span id="hours" class="block__timer-countdown-inner h4">00</span> {% endcomment %}
    <div id="hours" class="block__timer-countdown-inner h4 font-weight-600">
      <span>0</span>
      <span>0</span>
    </div>
    <span class="extreme_small_body text-uppercase font-weight-500">Hours</span>
  </div>
  <span class="block__timer--dots">:</span>
  <div class="block__timer--announcement">
    {% comment %} <span id="mins" class="block__timer-countdown-inner h4">00</span> {% endcomment %}
    <div id="mins" class="block__timer-countdown-inner h4 font-weight-600">
      <span>0</span>
      <span>0</span>
    </div>
    <span class="extreme_small_body text-uppercase font-weight-500">Minutes</span>
  </div>
  <span class="block__timer--dots">:</span>
  <div class="block__timer--announcement">
    {% comment %} <span id="secs" class="ex-small_body">00</span> {% endcomment %}
    <div id="secs" class="block__timer-countdown-inner h4 font-weight-600">
      <span>0</span>
      <span>0</span>
    </div>
    <span class="extreme_small_body text-uppercase font-weight-500">Seconds</span>
  </div>
  <div class="">
    <span id="end"></span>
  </div>
</div>
