.totals {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* .totals > * {
  font-size: 1.6rem;
  margin: 0;
} */

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-bottom: 1.4rem;
} 

/* .totals__total-value {
  font-size: 1.8rem;
} */

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 380px) {
  .totals__total-value {
    font-size: var(--medium_body);
  }
}