.block__logo-list-content {margin-top: 13px;line-height: 22px;letter-spacing: 0.02em;}
@media screen and (min-width: 1250px) {
    .block__logo-list-wrapper .swiper-wrapper {gap: 100px;justify-content: center;flex-wrap: wrap;}
    .block__logo-list-wrapper .swiper-slide {max-width: 160px;width: 100%;}
}
@media screen and (max-width: 991px){
    .block__logo-list-media img{object-fit: scale-down;}
}