.block__sleeplab-img-with-text-row > div:not(:last-child) {
  margin-bottom: 40px;
}

.block__sleeplab-img-with-text-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.block__sleeplab-image-wrapper {
  width: 100%;
  position: relative;
  padding-top: 67.57%;
  border-radius: 10px;
  overflow: hidden;
}

.block__sleeplab-image-wrapper video,
.block__sleeplab-image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.block__sleeplab-text-wrapper h3 {
  margin-bottom: 26px;
  color: var(--selection-color);
}

.block__sleeplab-text-caption {
  color: var(--selection-color);
  opacity: 0.7;
}

.block__sleeplab-text-wrapper > a {
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02px;
  padding: 17px 31px;
  display: inline-block;
  transition: all 0.4s ease;
  border-radius: 50px;
  margin: 26px 0;
}

.block__sleeplab-text-info {
  color: var(--selection-color);
}

.block__sleeplab-text-info a {
  text-decoration: underline;
  transition: all 0.4s ease;
}

.block__sleeplab-text-info a:hover {
  color: var(--primary-color);
}

.block__sleeplab-img-with-text-item.block__img-left
  .block__sleeplab-text-wrapper {
  padding-left: 80px;
  padding-right: 40px;
}

.block__sleeplab-img-with-text-item.block__img-right
  .block__sleeplab-text-wrapper {
  padding-left: 40px;
  padding-right: 80px;
  order: -1;
}
.block__sleeplab-text-wrapper h6 {
  line-height: 1;
  margin-bottom: 30px;
  color: var(--primary-color);
}
.block__sleeplab-text-wrapper > *:last-child {
  margin-bottom: 0;
}


@media (min-width: 1200px) and (max-width: 1439px) {
    .block__sleeplab-img-with-text-item.block__img-left .block__sleeplab-text-wrapper {
        padding-left: 40px;
        padding-right: 20px;
    }
    .block__sleeplab-img-with-text-item.block__img-right .block__sleeplab-text-wrapper {
        padding-left: 20px;
        padding-right: 40px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .block__sleeplab-img-with-text-item.block__img-left .block__sleeplab-text-wrapper {
        padding-left: 20px;
        padding-right: 0;
    }
    .block__sleeplab-img-with-text-item.block__img-right .block__sleeplab-text-wrapper {
        padding-left: 0;
        padding-right: 20px;
    }
}
@media (max-width: 991px) {
    .block__sleeplab-text-wrapper {
        padding: 0 !important;
    }
    .block__sleeplab-img-with-text-item {
        gap: 35px;
        grid-template-columns: repeat(1, 1fr);
    }
    .block__sleeplab-img-with-text-item.block__img-right .block__sleeplab-text-wrapper {
        order: 1;
    }
}
@media (max-width: 749px) {
    .block__sleeplab-text-wrapper h3 {
        margin-bottom: 18px;
    }
    .block__sleeplab-text-wrapper h6 {
      margin-bottom: 20px;
    }
    .block__sleeplab-text-wrapper>a {
        margin: 18px 0;
        display: block;
        text-align: center;
    }
}
@media (max-width: 380px) {}