.block__benefits-perks-header {
  text-align: center;
  margin-bottom: 35px;
}

.block__benefits-perks-header h2 {
  line-height: 1;
  font-weight: 500;
  color: var(--selection-color);
}

.block__benefits-perks-header p {
  margin-top: 18px;
  color: var(--selection-color);
  opacity: 0.6;
}

.block__benefits-perks-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1240px;
  margin: 0 auto 40px;
}

.block__benefits-perks-item {
  background-color: var(--quinary-color);
  padding: 20px;
  border-radius: 20px;
}

.block__benefits-perks-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tertiary-color);
  border-radius: 50%;
}

.block__benefits-perks-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;
}

.block__benefits-perks-item h6 {
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--selection-color);
  line-height: 1;
}

.block__benefits-perks-item p {
  color: var(--selection-color);
  opacity: 0.6;
}
.block__benefits-perks-bottom {
  text-align: center;
}

.block__benefits-perks-bottom h4 {
  font-weight: 600;
  color: var(--selection-color);
  margin-bottom: 25px;
}

.block__benefits-perks-bottom a {
  font-weight: 700;
  border-radius: 50px;
  line-height: 1.15;
  padding: 15px 41px;
  display: inline-block;
  transition: all 0.4s ease;
}

@media (min-width: 1200px) and (max-width: 1439px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
  .block__benefits-perks-header p {
    margin-top: 10px;
  }
  .block__benefits-perks-header {
    margin-bottom: 25px;
  }
  .block__benefits-perks-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto 30px;
  }
  .block__benefits-perks-item {
    padding: 15px;
    border-radius: 10px;
  }
  .block__benefits-perks-bottom h4 {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .block__benefits-perks-header p {
    margin-top: 10px;
  }
  .block__benefits-perks-header {
    margin-bottom: 20px;
  }
  .block__benefits-perks-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 30px;
  }
  .block__benefits-perks-header p br {
    display: none;
  }
}
@media (max-width: 749px) {
  .block__benefits-perks-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 20px;
  }
  .block__benefits-perks-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .block__benefits-perks-icon {
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .block__benefits-perks-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  .block__benefits-perks-info {
    max-width: calc(100% - 40px);
    padding-left: 16px;
  }

  .block__benefits-perks-bottom {
    max-width: 240px;
    margin: 0 auto;
  }

  .block__benefits-perks-bottom h4 {
    margin-bottom: 15px;
  }
}
